Body {
    background-color: rgb(129, 228, 212);
}
p {
    font-family:'Trebuchet MS';
    padding-left: 80px;
    padding-left: 9px;
    text-indent: 19px;
    margin-left: 80px;
}
h1 {
    font-family: Brush Script MT;
    font-size: 45px;
    text-align: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 40px;
}
h3{
    font-family: Verdana;
    padding-left: 60px;
}
ol{
    color: rgb(166, 179, 71);
    padding-left: 80px;
}
ul{
    color: rgb(96, 99, 71);
    padding-left: 80px;
}
a:link{
    color: rgb(162, 128, 135);
    font-size: 19px;
    padding-left: 80px;
}
a:visited{
    color: rgb(203, 63, 91);
    font-size: 45px;
}
img {
    border-radius: 50%;
    border: 5px solid rgb(206, 206, 206);
    
}